.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;

}

.profile-pic {
  width: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.small-pic{
    width: 100px;
  
  margin-bottom: 20px;
}
:host {
  display: block;
  background-color: #66d8efa8; 
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
}
